body{
  height: 100%;
  width :100%;
  background: #BBD2C5;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5); 
margin: 0;
padding: 0;
display: table;
}
.container{
  text-align: center;
  vertical-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-size: 3rem;
}
